.search-container {
  width: 70vw;
  height: 35vh;
  background-color: #fff;
  padding: 1rem;
  margin: auto;
  margin-top: -7rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 1;
  border: 2px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px 0.1px #e9ecef;
}

.property-type {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
/* .property-type button {
  width: 4rem;
  height: 2rem;
} */
.search-box {
  margin-bottom: 0;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
}
.search-box input {
  width: 100%;
}
.recent-search {
  margin-top: 1rem;
}
.search-input:focus {
  border: 2px solid rgb(25, 135, 84);
  /* border-style: none; */
  box-shadow: none;
}
